:root {
  --main-bg-color: #e6e3e3;
  --main-text-color: #100d1b;
  --primary-color: #3986b7;
  --secondary-color: #623ebc;
  --link-color: #7f6bbc;
  --shadow-color: #b3a0ea;
  --chat-color: #f7f7f7;
}
