@import "./layout.css";
@import "./colors.css";
@import "./forms.scss";
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

html:has(.lang-ar) {
  direction: rtl;
}

body {
  font-family: "Amiri", serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
